<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  backupGlobals               = "false"
  backupStaticAttributes      = "false"
  convertErrorsToExceptions   = "true"
  convertNoticesToExceptions  = "true"
  convertWarningsToExceptions = "true"
  processIsolation            = "false"
  stopOnFailure               = "false"
  syntaxCheck                 = "true"
  strict                      = "true"
  verbose                     = "true"
>

  <testsuites>
    <testsuite name="CTLib Test Suite">
      <directory suffix="Test.php">./ctlib/src/CTLib/Tests/</directory>
    </testsuite>
  </testsuites>

  <groups>
    <include>
      <!--<group>__nogroup__</group>-->
      <group>unit</group>
      <group>integration</group>
      <!--<group>functional</group>-->
      <!--<group>longRunning</group>-->
    </include>
    <exclude>
      <group>selenium</group>
      <group>DoNotTest</group>
    </exclude>
  </groups>


  <php>
    <server name="SYMFONY__CT__ENVIRONMENT" value="test"/>
    <server name="SYMFONY__CT__DEBUG" value="true"/>
    <server name="SYMFONY__CT__BRAND_ID" value="CT"/>
    <server name="SYMFONY__CT__BRAND_NAME" value="CellTrak"/>
  </php>

  <logging>
    <log type="coverage-html" target="build/coverage" title="CellTrak_2.0"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <!-- Add files not covered with tests into Code Coverage Analysis -->
  <filter>

    <blacklist> </blacklist>

    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./ctlib/src</directory>
      <exclude>
        <directory suffix=".php">./ctlib/src/CTLib/Tests</directory>
        <directory>./ctlib/src/CTLib/Resources</directory>
        <file>./ctlib/src/CTLib/Util/Curl.php</file>
      </exclude>
    </whitelist>

  </filter>

</phpunit>
